@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

@font-face {
  font-family: "Fredoka One";
  src: url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
  font-weight: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
  font-weight: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
  font-weight: bold;
  font-weight: 800;
}

body {
  margin: 0;
  font-family: "Fredoka One", "Raleway", sans-serif;
}
